@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap');

:root {
  --main-color    : hsl(214, 47%, 23%);
  --content-color : #FFFFFB;
  --score-text    : hsl(229, 64%, 46%);
  --drk-text-color: hsl(229, 25%, 31%);
  --header-outline: hsl(217, 16%, 45%);
  --body-color    : linear-gradient(180deg, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 1rem;
  height: 100%;
  background: var(--body-color);
  background-size: cover;
  color: var(--content-color);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}

@media (min-width: 375px) {
  :root {
    --body-color: radial-gradient(circle, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
  }
}
